
body {
  margin: 0; 
  overflow: hidden;
}
#landing{ 
  height: 100vh; 
  background: url('img/background.jpg') no-repeat center center fixed; 
  background-size: cover; 
}

.nav-item { 
  font-size: 1.2rem; 
  font-weight: 100; 
  text-transform: uppercase; 
  font-family: 'Cormorant Garamond', serif;
}

#app { 
  color: white; 
  text-align: center; 
  position: relative; 
  top: 700px; 
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.0rem; 
  font-weight: 100; 
}

