body{
    margin: 0;
}

.marker-text{ 
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 2px; 
  font-size: 2.0rem; 
}

h1 { 
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.grid {
    background: #DDD;
    overflow: hidden;
  }
  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  
  .grid-item {
    float: left;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  